__pycache__/
__pycache__/*
*/__pycache__
*/__pycache__/*
stats/
stats/*
benchmarks/results
benchmarks/results/*
.nox/
.pytest_cache/
.coverage
.coverage*
htmlcov/
dist/
dist/*
examples/results/
examples/results/*
docs/_build/
venv/
build/
*.egg*